{% extends "base.html" %}

{% block title %}Details of /{{path}}{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
    {% for entry in nav %}
    {% if entry == nav|last %}
    <li class="active"><a href="/info/{{entry[0]}}">
        {% else %}
        <li><a href="/browse/{{entry[0]}}">
            {% endif %}
            <span class="glyphicon glyphicon-chevron-right"></span> {{entry[1]}}</a></li>
        {% endfor %}
</ul>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><strong class="glyphicon glyphicon-file"></strong> File details</h1>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for value in properties %}
        <tr>
            <td>{{value[0]}}</td>
            <td>{{value[1]}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Download</td>
            <td><a class="btn btn-primary btn-xs" role="button" href="/get/{{path}}">Direct link</a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
